@tailwind base;
@tailwind components;
@tailwind utilities;


.source-code-pro-thin {
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: thin;
    font-style: normal;
}

.source-code-pro-normal {
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.source-code-pro-bold {
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

:root {
    --color-default: #23422a;
    --margem-padrao: 16px;
}
.color-default {
    color: var(--color-default);
}

.main {
    @apply color-default border-4 rounded-xl border-red-500 h-screen p-8 bg-teal-400;
}

/* text */
.text-title {
    @apply text-2xl font-bold source-code-pro-thin;
}  